@import "_normalize.min";

$bp: 640px;

html {
  background: #f6efe5;
}

body {
  color: #fd9cfd;
  background: #f5f1e9;
  font-family: "Josefin Sans";
  background: url("../bg-sm.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
  color: #fd9cfd;
}

ul {
  padding: 0;
}

p {
  color: #555;
}

.underlined {
  box-shadow: 0 1px 0 0 #fd9cfd;
}

h1, h2, h3 {
  font-weight: 400;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .content {
    font-size: 1.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: baseline;
    @media (max-width: $bp) {
      flex-direction: column;
    }
    .name h1 {
      font-weight: 400;
    }
  }
}

@media (max-width: $bp) {
  .name, nav {
    margin: 0 auto;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


// Works page

.works-wrapper {
  display: flex;
  max-height: 100vh;
}

.left-bar {
  font-size: 1rem;
  margin:0 20px;
  min-width: 170px;
  .drp-btn {
    display: none;
  }
  .workspage-nav {
    .nav-item {
      list-style: none;
      padding: 6px;
      a:hover {
          box-shadow: inset 0 -1px 0 0 pink;
      }
    }
  }
}

.works-content {
  padding: 20px;
  min-height: 95vh;
  max-height: 100vh;
  width: 100vw;
  overflow: scroll;
  .work-item {
    padding-bottom: 50px;
    box-shadow: inset 0 -1px 0 0 #aaa;
    h3 {
      max-width: 900px;
      margin: 30px auto 5px auto;
      font-size: 1.5rem;
    }
    .description {
      max-width: 900px;
      margin: 0 auto;
    }
  }
}
.image {
  margin: 0 auto;
  max-width: 900px;
  img {
    max-width: 100%;
    height: auto;
  }
}


// Contact page

.contact {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .contact-info {
    font-size: 1.5rem;
    margin: 0 auto;
  }
}

// About page

.about-content {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .about {
    font-size: 1.5rem;
    margin: 50px auto;
    max-width: 500px;
  }
}

// CV page

.cv-content {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .cv {
    font-size: 1.5rem;
    margin: 50px auto;
    max-width: 500px;
  }
}

.mob-top-bar {
  display: none;
}

@media (max-width: $bp) {
  .works-wrapper {
    flex-direction: column;
    .works-content {
      max-height: none;
      overflow: inherit;
      padding: 0px;
      min-height: 95vh;
      max-height: 100vh;
      width: 100%;
      padding: 50px 10px;
      .work-item {
        padding-top: 40px;
      }
    }
  }

  .left-bar {
    margin: 0;
    padding: 10px;
    position: fixed;
    width: 100vw;
    background: #f6efe5;
    transform: translateY(-1000px);
    transition: all .2s ease-in-out;
    z-index: 99;
    &.open {
      transform: translateY(0px);
    }
  }
  .drp-btn {
    display: block;
    position: fixed;
    z-index: 100;
    width: 40px;
    height: 40px;
    background: salmon;
    right: 40px;
    top: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &.btn-open {
      border-radius: 50%;
      transform: rotate(180deg);
    }
  }

  .mob-top-bar {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 98;
    background: #f6efe5;
    height: 60px;
    padding-top: 20px;
    h3 {
      padding-left: 10px;
    }
  }
}
